[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-heroku = "*"
gunicorn = "*"
mysqlclient = "*"
django-crispy-forms = "*"
django-bootstrap4 = "*"
django-ckeditor = "*"
pillow = "*"
pymysql = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.7"
