a {
	text-decoration:none;
	color:black;
	transition:0.7s;
}

a:hover {
	text-decoration:none;
	color:rgba(122, 170, 148, 0.911);
}

.white {
	color:white;
}

.black {
	color:black;
}

.grey {
	color:rgb(66, 65, 65);
}

.tag {
	background-color:rgba(122, 170, 148, 0.911);
	padding:1px 10px;
}


/* Base.html */

body {
	background-color:white;
}

li {
	list-style:none;
	margin:0px;
    list-style-position:none;
}

ul{
	padding:0px;
	margin:0px;
}

.header {
	background-image:url('/static/img/london_background.jpg');
	background-size:cover;
	width:100%;
	height:300px;
	position:relative;
	background-position:center;
}

.header::before {
	z-index:1;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgb(243, 237, 237,0.2);
}

.under-header {
    position:absolute;
    width:100%;
	text-align:center;
	padding-top:120px;
	z-index:2;
}

.nav-border-line {
	border-top:1px solid black;
	border-bottom:1px solid black;
	margin-bottom:50px;
}

.nav-item  {
	padding:0px 5px;
	font-weight:700;
	font-size:15px;
}

/* blog-form.html */


/* Home.html */
/* home-slide */

.home-slideshow {
	height:440px;
	width:100%;
}

.home-side-slideshow {
	width:100%;
}

.home-side-slideshow{
	position:relative;
}

.home-side-slideshow img {
	width:100%;
	max-height:220px;
	object-fit:cover;
}

.under-home-slide-slideshow {
	position:absolute;
	width:100%;
	text-align:center;
	bottom:0px; 
	padding:10px 5px;
	background-color:rgba(0,0,0,0.6);
	vertical-align:middle;
	font-size:20px;
}

/* Home.html */
/* first-topic */

.topic-box {
	width:100%;
	padding-top:30px;
	margin-bottom:20px;
	border-bottom:1.5px solid black;
}

.first-content {
	overflow:hidden;
}

.first-sub-content {
	float:left;
	width:50%;
}

.first-table {
	width:100%;
	margin:0px 0px 10px 10px;
}

.first-table td {
	border-bottom:1px solid rgb(235, 233, 233);
	padding-bottom:10px;
}


/* Home.html */
/* second-topic */

.second-content {
	width:100%;
	overflow:hidden;
}

.second-each-list {
	float:left;
	width:33.33%;
	padding:20px 10px 10px 10px; 
}

.second-each-list-sub {
    border:0px solid #C0C0C0;
    position:relative;
    height:450px;
    background-color:white;

}

.second-each-list-sub img {
	width:100%;
	height:45%;
	object-fit:cover;
}

.second-each-list-sub li{
	padding:10px 0px 0px 0px;
	font-size:13px;
}

.second-content-title {
	font-size:16px;
	font-weight:bold;
}

/* Home.html */
/* Third-topic */

.second-table {
	margin:0px 0px 20px 0px;

}

.second-table td {
	border-bottom:1px solid rgb(235, 233, 233);
	padding-bottom:20px;

}

/* Home.html */
/* fourth-topic */

.fourth-content-title {
	font-size:16px;
	font-weight:bold;
}

.fourth-top-content {
	width:100%;
	position:relative;
}

.under-fourth-top-content {
	position:absolute;
	width:100%;
	text-align:center;
	bottom:0px; 
	padding: 20px 25px;
	line-height:40px;
	background-color:rgba(0,0,0,0.5);
	vertical-align:middle;
}

.fourth-each-list {
	float:left;
	width:50%;
	padding:20px 10px 10px 10px; 
	height:450px;
	margin-bottom:30px;
}

.fourth-each-list-sub li {
	padding:10px 0px 0px 10px;
	font-size:13px;
}

.fourth-each-list-sub img {
	width:100%;
	height:60%;
	object-fit:cover;
}

/* Home.html */
/* side-topic */

.side-slide-table {
	margin:0px 0px 10px 0px;

}

.side-slide-table td {
	border-bottom:1px solid rgb(235, 233, 233);
	padding-bottom:10px;

}

.first-sub-slide {
	width:100%;

}

.second-sub-slide li{
	padding-top:10px;
	font-size:20px;
}
 
.side-slide {
	height:450px;
	object-fit:cover;
}

/* Detail.html */

.post-detail {
	background-color:white;
	width:100%;
}

.post-detail-random {
	width:100%;
	border-top:solid 1px rgb(235, 233, 233);
}

.detail-content {
	padding:40px 50px 10px 50px;
}


.detail-content-edit-delete {
	padding:20px 50px 20px 50px;
}

.detail-each-list {
	width:33.33%;
	float:left;
	padding:40px 20px 20px 20px; 
}

.detail-each-list-sub {
	height:400px;
	border:0px solid #C0C0C0;

}

.detail-each-list-sub li{
	padding:10px 0px 0px 10px;
	font-size:13px;
}

.detail-each-list-sub img {
	width:100%;
	height:50%;
	object-fit:cover;
}

.detail-content-title {
	font-size:20px;
	font-weight:bold;
}

/* Blog-Category.html */

.map-size {
	width: 100%; 
	height: 600px;
}

.card-columns {
	  column-count: 4;
	  padding-top:20px;
	}

.card-block {
	padding:15px;
	position:relative;
	}

.map-edit {
	position:absolute; 
	right:10px; 
	bottom:5px;
	z-index:2;
	color:grey;
	}

.map-edit a {
	color:grey;
}

/* Citymap-Detail.html */

.map-show {
	width:100%;
}

table.overview {
	width:100%;
}

table.overview td {
	font-size:15px;
	border-bottom:1px solid #EEEEEE;
	padding:10px;
}

.sidemap-show {
	border:1px solid #808080;
	position:relative;
	margin-bottom:50px;
}

.sidemap-show::before {
	z-index:1;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0,0,0,0.3);
}

.sidemap-show:hover::before {
	z-index:1;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0,0,0,0.1);
}

.under-sidemap-show {
	position:absolute;
    width:100%;
	color:white;
	text-align:center;
	top:50%;
	left:0px;
	z-index:2;
	font-size:20px;
}


/* タブレット向けレイアウト */
/* ブレイクポイントをmax-width: 1000pxに指定 */
@media(max-width:1000px){

	.home-slideshow {
		height:300px;
		width:100%;
	}

	.home-slideshow h3 {
		font-size:25px;
	}

	.home-side-slideshow img {
		width:100%;
		height:150px;
		object-fit:cover;
	}

	/* Home.html First Contetnt */
	.first-content {
		width:100%;
	}

	.first-sub-content {
		width:100%;
		}

	.first-table {
		width:100%;
		margin:0px 0px 10px 0px;
	}

	/* Home.html Second Contetnt */
	.second-each-list {
		float:left;
		width:50%;
		padding:10px 10px 20px 10px; 
	}

	.second-each-list-sub {
		border:0px solid #C0C0C0;
		position:relative;
		height:300px;
		background-color:white;

	}

	/* Home.html Fourth Contetnt */
	.fourth-each-list {
		float:left;
		width:50%;
		padding:20px 10px 10px 10px; 
		margin-bottom:30px;
		height:550px;
	}

	.fourth-top-content h3 {
		font-size:25px;
	}

	.detail-content {
		padding:50px 0px 20px 0px;;
	}

	.detail-content-edit-delete {
		padding:20px 0px 20px 0px;
	}
	
	.detail-each-list {
		width:50%;
		float:left;
		padding:40px 10px 20px 10px; 
	}

	.detail-each-list-sub {
		height:450px;
		border:0px solid #C0C0C0;
	}

	/* Blog-Category.html */
	.card-columns {
		column-count: 3;
		padding-top:20px;
	}

	
}

/* スマートフォン向けレイアウト */
/* ブレイクポイントをmax-width: 670pxに指定 */
@media(max-width:670px){

	/* Base.html Carousel */
	.header h1 {
		font-size:25px;
	}

	.header {
		background-image:url('/static/img/london_background.jpg');
		background-size:cover;
		width:100%;
		height:180px;
		position:relative;
		background-position:center;
	}
	
	.header::before {
		z-index:1;
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color:rgb(243, 237, 237,0.2);
	}
	
	.under-header {
		position:absolute;
		width:100%;
		text-align:center;
		padding-top:55px;
		z-index:2;
	}


	/* Home.html Carousel */
	.home-slideshow {
		height:220px;
		width:100%;
	}

	.home-slideshow h3 {
		font-size:18px;
	}

	.home-side-slideshow {
		width:100%;
		padding-top:10px;
	}

	.home-side-slideshow img {
		width:100%;
		height:220px;
		object-fit:cover;
	}

	.under-home-slide-slideshow {
		position:absolute;
		width:100%;
		text-align:center;
		bottom:0px; 
		padding:10px 5px;
		background-color:rgba(0,0,0,0.6);
		vertical-align:middle;
		font-size:15px;
	}

	

	/* Home.html First Contetnt */
	.first-content {
		width:100%;
	}

	.first-sub-content {
		width:100%;
		}

	.first-table {
		width:100%;
		margin:0px 0px 10px 0px;
	}

	/* Home.html Second Contetnt */
	.second-each-list {
		float:left;
		width:100%;
		padding:20px 0px 10px 0px; 
	}

	.second-each-list-sub {
		border:0px solid #C0C0C0;
		position:relative;
		height:450px;
		background-color:white;

	}

	.second-each-list-sub img {
		width:100%;
		height:50%;
		object-fit:cover;
	}

	/* Home.html Fourth Contetnt */
	.fourth-each-list {
		float:left;
		width:100%;
		height:450px;
		padding:20px 0px 10px 0px; 
		margin-bottom:30px;
	}

	
	.fourth-each-list-sub img {
		width:100%;
		height:50%;
		object-fit:cover;
	}

	/* Detail.html */

	.detail-content {
		padding:30px 0px 20px 0px;;
	}

	.detail-content-edit-delete {
		padding:20px 0px 20px 0px;
	}

	.detail-each-list {
		width:100%;
		float:left;
		padding:40px 0px 20px 0px; 
	}

	.detail-each-list-sub {
		height:450px;
		border:0px solid #C0C0C0;
	}

	.detail-each-list-sub img {
		width:100%;
		height:55%;
		object-fit:cover;
	}

	.post-detail h2 {
		font-size:20px;
	}

	/* Blog-Category.html */
	.map-size {
		width: 100%; 
		height: 400px;
	}
	.card-columns {
		column-count: 1;
		padding-top:20px;
	}


}