{% extends 'blogs/base.html' %}

{% block content %}

{% if category_key != "Coding" %}

<div id="map" class="map-size"></div>

    <script>
      var map;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          
          {% if category_key == "Travel" %}
          center: {lat: 48.137393, lng: 11.575449},
          zoom: 4,
          {% elif category_key == "Gourmet" %}
          center: {lat: 35.681515, lng: 139.767146},
          zoom: 13,
          {% endif %}

        });

        {% for blog in object_list %}

        (function(){

          var contentString = 
          '<a href="{% url "blog-detail" blog.id %}"><img src="{{MEDIA_URL}}{{blog.photo}}" style="width:200px;"></a>'+
          '<br>'+
          '<strong><a href="{% url "blog-detail" blog.id %}">{{blog.title}}</a></strong>'; 

          var infowindow = new google.maps.InfoWindow({
              content: contentString
          });
          
          var markerIcon = {
              {% if category_key == "Travel" %}
              url: 'https://cdn1.iconfinder.com/data/icons/flat-design-basic-set-5/24/flag-red-rally-512.png',
              {% else %}
              url: 'https://cdn4.iconfinder.com/data/icons/iconsimple-places/512/pin_1-512.png',
              {% endif %}
              scaledSize: new google.maps.Size(40, 40),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(10,45)
          }
          

          var marker = new google.maps.Marker({
              position:{lat: {{ blog.latitude }}, lng: {{ blog.longitude }}},
              map: map,
              icon: markerIcon,
              title: contentString,
              animation: google.maps.Animation.DROP
          });

          lastWindow=null; 

          marker.addListener('click', function() {
                if (lastWindow) lastWindow.close();
                infowindow.open(map, marker);
                lastWindow=infowindow;
            });

          })();

        {% endfor %}
      }

    </script>


{% endif %}

<div class="card-columns">
  
  {% for blog in object_list %}

  <div class="card">
      <a href="{% url 'blog-detail' blog.id %}"><img class="card-img-top img-fluid" src="{{MEDIA_URL}}{{ blog.photo }}" style="width:100%;" alt="Card image cap"></a>
    
    <div class="card-block">
      <a href="{% url 'blog-detail' blog.id %}" class="card-title"><h5>{{blog.title}}</h5></a>
      <p class="card-text"><a style="color:grey;font-size:18px;">{{blog.subtitle|safe|truncatechars:80}}</a></p>
      <p class="card-text"><small class="text-muted">{{blog.date|date:"Y-m-j"}}</small></p>

      {% if user.is_superuser %}
      <div class="map-edit">
        <li>
              <small>
                <a href="{% url 'blog-update' blog.id %}">Edit</a> |
                <a href="{% url 'blog-delete' blog.id %}">Delete</a>
              </small>
        </li>
      </div>
      {% endif %}

    </div>
  </div>
  
  {% endfor %}

</div>



{% endblock %}