{% extends 'blogs/base.html' %}

{% block content %}

<div class="card-columns">
  
    {% for blog in object_list %}
  
    <div class="card">
        <a href="{% url 'blog-detail' blog.id %}"><img class="card-img-top img-fluid" src="{{MEDIA_URL}}{{ blog.photo }}" style="width:100%;" alt="Card image cap"></a>
      
      <div class="card-block">
        <a href="{% url 'blog-detail' blog.id %}" class="card-title"><h5>{{blog.title}}</h5></a>
        <p class="card-text"><a style="color:grey;font-size:18px;">{{blog.subtitle|safe|truncatechars:80}}</a></p>
        <p class="card-text"><small class="text-muted">{{blog.date|date:"Y-m-j"}}</small></p>
  
        {% if user.is_superuser %}
        <div class="map-edit">
          <li>
                <small>
                  <a href="{% url 'blog-update' blog.id %}">Edit</a> |
                  <a href="{% url 'blog-delete' blog.id %}">Delete</a>
                </small>
          </li>
        </div>
        {% endif %}
  
      </div>
    </div>
    
    {% endfor %}
  
  </div>



  {% endblock %}