{% extends 'blogs/base.html' %}

{% block content %}

<div class="row">

    <div class="col-md-2">

    </div>
    
    <div class="col-md-8">

        {% load crispy_forms_tags %}

        <form method="POST" enctype="multipart/form-data" action=""  class="blog-form">
        {% csrf_token %}
        {{ form.media }}
        {{ form.name|as_crispy_field }}
        {{ form.content|as_crispy_field }}
        {{ form.photo|as_crispy_field }}

        <button type="submit" class="btn">投稿</button>

        </form>

    </div>

    <div class="col-md-2">
        
    </div>

</div>

{% endblock %}